/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Custom styles */
body {
    font-family: 'Roboto', sans-serif; /* Apply the Roboto font to the entire document */
   
}
/* navbar*/
.logo {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.navbar-brand {
    color: white;
    font-size: medium;
    font-weight: 300;
}

.navbar-brand:hover {
    color:rgb(244, 134, 51) ;
  }
  
.navbar {
    background-color:rgb(91, 43, 88) ;
    border-top: 2px solid rgb(91, 43, 88);
    border-bottom: 2px solid rgb(91, 43, 88);
}

.links {
   
    display: flex;
    justify-content: end;
    
}

/*footer*/

footer{
    background:rgb(91, 43, 88);
    padding-top: 50px;
    color: white;
    font-weight: 300;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 5px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
    
}


.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
   
}

.list li a{
    color: white;
}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(244, 134, 51);
}
.social-icons i:hover{
    color: rgb(244, 134, 51);
}
.bottom-bar{
    background:rgb(244, 134, 51);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.coh {
    width: 40px;
    height: 40px;
}

.small {
    font-size: 8px;
   letter-spacing: 2px;
}

.sponsorship {
    font-size: 14px;
    text-align: center;
}

.whatsapp_ft {
    width: 50px;
    height: 50px;
}