/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Custom styles */
body {
    font-family: 'Roboto', sans-serif; /* Apply the Roboto font to the entire document */
   
}

.navbar-brand {
    color: rgb(91, 43, 88);
    font-size: medium;
    font-weight: 300;
}

.navbar {
    border-top: 2px solid rgb(91, 43, 88);
    border-bottom: 2px solid rgb(91, 43, 88);
}

.links {
    display: flex;
    justify-content: end;
    
}

.carousel-item {
    height: 480px;
}

.carousel-caption {
    
    background-color: rgba(145, 138, 203, 0.7);
    font-size: 130%;
    position:sticky;
    bottom: 10px;
    width: fit-content;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 20px;
}
